# (optional) name for the deployment environment, i.e. "local", "prod", "staging", etc.
ENV=default

# Your API keys
OPENAI_API_KEY=
COHERE_API_KEY=

# Neo4j connection string and credentials
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE="neo4j"

# Path to the Obsidian vault directory
VAULT_DIR="~/repo/cobrain/vault"